/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  line-height: 1;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

body {
  background-image: url(https://vanilla-js-basic-project-6-modal.netlify.app/hero.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  font-size: 2rem;
}

.box {
  text-align: center;
  background-color: white;
  max-width: 40rem;
  padding: 5rem;
  border: none;
  border-radius: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 30vh;
  margin-inline: auto;
  position: relative;
}

button {
  letter-spacing: 0.3rem;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
  color: white;
  background-color: rgb(96, 206, 236);
  cursor: pointer;
}

.flow * + * {
  margin-top: 1rem;
}

.modal {
  background-color: rgba(96, 206, 236, 0.519); /* overlay effect */
  position: fixed; /* stick to viewport */
  top: 0;
  left: 0;
  width: 100%; /* full width */
  height: 100%; /* full height */
  z-index: -1;
  visibility: hidden;
}

.close-btn {
  margin: 0;
  padding: 0;
  margin-left: 95%;
  background-color: transparent;
  color: red;
  cursor: pointer;
  transition: all ease 0.4s;
}

.close-btn:hover {
  scale: 1.2;
}

.display {
  visibility: visible;
  z-index: 99;
}
