*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
img,
span,
input,
textarea,
button {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
textarea {
  background: none;
  outline: none;
  border: none;
  font: inherit;
}

body {
  display: grid;
  place-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(#eeeeff, #c8c7ff);
}

.chatbot-popup {
  position: fixed;
  bottom: 16%;
  right: 8%;
  width: 350px;
  background: white;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transform-origin: bottom right;
  transform: scaleY(0);
  opacity: 0;
  transition: 0.8s ease-out;
}

.chatbot-popup.active {
  opacity: 1;
  transform: scaleY(1);
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #5350c4;
  padding: 15px 22px;
}

.header-info {
  display: flex;
  gap: 10px;
  align-items: center;
}

.chatbot-logo {
  height: 35px;
  width: 35px;
  background: white;
  padding: 6px;
  flex-shrink: 0;
  fill: #5350c4;
  border-radius: 50%;
}

.logo-text {
  color: #fff;
  font-size: 1.31rem;
  font-weight: 600;
}

.close-chatbot {
  color: #fff;
  height: 40px;
  width: 40px;
  display: grid;
  place-items: center;
  font-size: 1.9rem;
  cursor: pointer;
  border-radius: 50%;
  background: none;
  transition: 0.4s ease;
}

.close-chatbot:is(:hover, :focus-visible) {
  background-color: #3d39ac;
}

.chat-body {
  padding: 25px 22px;
  display: flex;
  gap: 20px;
  height: 360px;
  margin-block-end: 82px;
  overflow-y: auto;
  flex-direction: column;
}

.chat-body .message {
  display: flex;
  gap: 11px;
  align-items: center;
}

.bot-message .bot-avatar {
  height: 35px;
  width: 35px;
  background: #5350c4;
  padding: 6px;
  flex-shrink: 0;
  align-self: flex-end;
  fill: #fff;
  border-radius: 50%;
}

.message-text {
  padding: 12px 16px;
  max-width: 75%;
  font-size: 0.95rem;
  background: #f2f2ff;
  border-radius: 11px 11px 11px 3px;
}
.user-message .message-text {
  margin-inline-start: auto;
  background-color: #5350c4;
  color: #fff;
  border-radius: 11px 11px 3px 11px;
}

.thinking {
  display: flex;
}

.thinking-indicator {
  display: flex;
  align-items: center;
  gap: 2px;
  margin-inline-start: 11px;
  background-color: #f2f2ff;
  padding: 15px 12px;
  border-radius: 11px 11px 11px 3px;
}

.thinking-indicator .dot {
  display: inline-block;
  height: 7px;
  width: 7px;
  opacity: 0.7;
  border-radius: 50%;
  background-color: #6f6bc2;
  animation: dotpulse 1.8s ease-in-out infinite;
}

.thinking-indicator .dot:nth-child(1) {
  animation-delay: 0.2s;
}
.thinking-indicator .dot:nth-child(2) {
  animation-delay: 0.3s;
}
.thinking-indicator .dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes dotpulse {
  0%,
  44% {
    translate: 0 0;
  }
  28% {
    opacity: 0.4;
    translate: 0 -4px;
  }

  44% {
    opacity: 0.2;
  }
}

.chat-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 15px 22px 20px;
  left: 50%;
  transform: translateX(-50%);
}

.chat-form {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 32px;
  outline: 1px solid #706db0;
  transition: 0.4s ease;
}

.chat-form:is(:hover, :focus-within) {
  outline: 2px solid #5350c4;
}

.message-input {
  height: 47px;
  width: 100%;
  font-size: 0.95rem;
  padding: 14px 0 13px 18px;
  resize: none;
  border-radius: inherit;
}

.chat-controls {
  display: flex;
  height: 47px;
  gap: 3px;
  align-items: center;
  align-self: flex-end;
  padding-right: 6px;
}

.chat-controls button {
  height: 35px;
  width: 35px;
  border: none;
  font-size: 1.15rem;
  cursor: pointer;
  color: #706db0;
  background: none;
  border-radius: 50%;
}

.chat-controls button:is(:hover, :focus-visible) {
  background: #e4e4ff;
}

.chat-controls .send-message {
  display: none;
  transition: 0.4s ease;
}

.chat-controls .send-message:is(:hover, :focus-visible) {
  background: #5350c4;
  color: #fff;
  opacity: 0.8;
  scale: 1.05;
}

.chat-form .message-input:valid ~ .chat-controls .send-message {
  display: block;
}

.thinking.fade {
  animation: fade 0.4s ease-in forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
    translate: -10px 0;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}

.file-upload input {
  display: none;
}

emoji-picker {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 300px;
  width: 100;
  height: 300px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 0.5rem;
  outline: none;
  border: none;
}

.toggle {
  position: fixed;
  bottom: 8%;
  right: 5%;
  padding: 0.8rem;
  background-color: #5350c4;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  transition: 0.4s ease;
}

.toggle:is(:hover, :focus-visible) {
  opacity: 0.8;
  scale: 1.05;
}
