*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
img,
span,
button,
input {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  height: auto;
}

input {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

body {
  min-height: 100vh;
}
