/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* utility Classes */

.container {
  margin: 0 auto;
  max-width: 80rem;
}

.flow > * + * {
  margin-top: 1.8rem;
}

.flex {
  display: flex;
}

.f-center {
  align-items: center;
  justify-content: center;
}
.gap-1 {
  gap: 1rem;
}
.gap-2 {
  gap: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* general layout */

body {
  background-color: black;
  color: lightgray;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  overflow: hidden;
  height: 100vh;
}

header {
  padding-block: 1.4rem;
  background-color: transparent;
}

nav {
  align-items: center;
  justify-content: space-between;
}

nav h1 {
  pointer-events: none;
}

nav li {
  cursor: pointer;
  transition: 0.5s ease;
}
nav li:hover {
  opacity: 0.8;
  text-shadow: 0px 0px 10px white;
  cursor: pointer;
}

nav button {
  background-color: lightgray;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: 0.4s ease;
}

nav button:hover {
  box-shadow: 0px 0px 10px lightgray;
}

body img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  opacity: 0.5;
}

.gradient-overlay {
  position: absolute;
  top: 20%;
  right: 0;
  height: 0;
  width: 30rem;
  box-shadow: 0 0 43.75rem 1rem;
  transform: rotate(-30deg);
  z-index: -1;
}

.hero {
  margin-top: 20vh;
  height: 100vh;
}

.btn-box {
  position: relative;
  width: 18rem;
  height: 2.5rem;
  border-radius: 1.5rem;
  box-shadow: 0px 0px 15px rbga(255, 255, 255, 0.3);
  background: linear-gradient(
    to right,
    #a00453,
    #c9ef54,
    #0a3aba,
    #9f5ccc,
    #5134de,
    #127e97,
    #e2d19f
  );
  background-size: 200% auto;
  animation: gradient 2s ease-in-out infinite;
}

@keyframes gradient {
  to {
    background-position: 200% center;
  }
}

.hero-btn {
  position: absolute;
  inset: 2px 2px 2px 2px;
  background-color: black;
  color: lightgray;
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease;
  cursor: pointer;
  text-transform: capitalize;
}

.hero-btn:hover {
  color: #9f5ccc;
}

h2 {
  text-shadow: 0px 0px 12px lightgray;
  line-height: 1.2;
  max-width: 32rem;
  font-size: 4rem;
}

.hero-content p {
  max-width: 37rem;
  font-size: 1.2rem;
  text-shadow: 0px 0px 1px lightgrey;
}

.doc-btn {
  background-color: rgb(44, 44, 44);
  color: #9f5ccc;
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 2rem;
  margin-right: 1rem;
  cursor: pointer;
  transition: 0.4s ease;
}
.doc-btn:hover {
  background-color: rgb(69, 65, 65);
  box-shadow: 0px 0px 5px lightgray;
}

.start-btn {
  background-color: white;
  color: black;
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.4s ease;
}

.start-btn:hover {
  background-color: black;
  color: white;
  box-shadow: 0px 0px 5px lightgray;
}

.robot-img {
  width: 100%;
  transform: translateX(33%) scale(1.1);
}
