.main-nav {
  padding: 0.5rem 2rem;
  border-block-end: 1px solid lightgray;
}

.main-nav img {
  width: 50px;
}

.main-nav button {
  background-color: rgb(93, 89, 89);
  color: white;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 200px;
  font-weight: 700;
  letter-spacing: 0.8px;
  cursor: pointer;
  transition: 0.4s ease;
}

.main-nav button:where(:hover, :focus-visible) {
  transform: translateY(-2px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
