*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
img,
span,
button,
input,
textarea {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  height: auto;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font: inherit;
}

.flex {
  display: flex;
  align-items: center;
}

.gap-05 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-15 {
  gap: 1.5rem;
}

.flex-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.seperator {
  display: grid;
  grid-template-columns: 290px 1fr;
}

.main-display {
  margin-block-start: 1rem;
}
