.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
}

.home a {
  text-decoration: none;
  color: lightslategray;
  font-size: 2.5rem;
  transition: 0.3s ease;
}

.home a:where(:hover, :focus-visible) {
  transform: translateY(-2px);
  color: black;
  font-weight: 500;
}
