.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: aliceblue;
  display: grid;
  place-items: center;
  width: 300px;
  padding: 1rem 2rem;
  border-radius: 1rem;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.login-form h2 {
  pointer-events: none;
}

.form-item {
  width: 100%;
  display: grid;
  gap: 0.1rem;
  margin-block-start: 1rem;
}
.login-form input {
  padding-inline: 0.2rem;
  border: none;
  border: 1px solid black;
  border-radius: 0.1rem;
  height: 27px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.login-form button {
  cursor: pointer;
  background-color: black;
  color: white;
  font-weight: 700;
  border: none;
  padding-block: 0.5rem;
  margin-block-start: 1rem;
  width: 100%;
  transition: 0.4s ease;
}

.login-form button:where(:hover, :focus-visible) {
  background-color: rgba(0, 0, 0, 0.796);
  transform: translateY(-2px);
}
