.prim-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0.5rem;
  padding-inline: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.4s ease;
  z-index: 3;
}

.prim-nav.active {
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.logo-container {
  width: 50px;
}

.logo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.icon-btn {
  width: 25px;
  cursor: pointer;
}

.footer-item-link {
  position: relative;
  width: max-content;
}

.footer-item-link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background-color: black;
  bottom: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transform-origin: left;
  transform: scaleX(0);
  transition: 1s ease;
}

.footer-item-link::where(:hover, :focus, :focus-visible)::after {
  visibility: visible;
  opacity: 1;
  transform: scaleX(1);
}
