.product-container {
  display: flex;
  flex-direction: column;
  width: 280px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.product-container img {
  transform: scale(1.1);
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  background: #f5f5f5;
}

.product-info {
  padding-block-start: 1rem;
  font-family: 'Inter', sans-serif;
  padding: 0.7rem 1rem;
}

.product-info p {
  padding-block-start: 1rem;
  transition: 0.3s ease;
}

.product-info p:hover {
  text-decoration: underline;
}
